body {
  height: 100vh;
  font-family: 'Droid Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.main {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
}

.access-form-container {
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 48px 32px 32px 44px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 #b6b6b6;
  text-align: center;
}

.access-field {
  height: 42px;
  margin-bottom: 45px;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #adadad;
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}

.access-button {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #4787df;
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.access-title {
  padding-top: 48px;
  padding-bottom: 0px;
  font-family: 'Droid Sans', sans-serif;
  color: #797979;
  font-weight: 400;
  text-align: center;
}

.access-title.splash-text {
  color: #fff;
}

.access-subtitle {
  margin-bottom: 45px;
  font-family: 'Droid Sans', sans-serif;
  color: #4787df;
  font-weight: 400;
  text-align: center;
}

.access-subtitle.splash-text {
  color: #fff;
}

.access-error {
  display: none;
  margin-top: 16px;
  padding: 8px 12px;
  font-family: 'Droid Sans', sans-serif;
  color: #d52d28;
  font-size: 18px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.nav-bar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #4787df;
  box-shadow: 0 1px 3px 0 #b6b6b6;
  text-align: right;
}

.logo-title {
  position: static;
  display: inline-block;
  padding: 25px 15px;
  float: left;
  font-family: 'Droid Sans', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.side-bar {
  position: static;
  display: block;
  overflow: visible;
  width: 15%;
  height: auto;
  min-width: 200px;
  float: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #434d57;
}

.side-bar-section {
  width: 100%;
  border-bottom: 2px solid #3d3d3d;
}

.section-title {
  padding: 10px 15px;
  font-family: 'Droid Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.section-row {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Fontawesome, sans-serif;
  color: #c9c9c9;
  text-decoration: none;
}

.section-row:hover {
  color: #fff;
}

.section-row:active {
  background-color: #2d3338;
}

.icon {
  display: inline-block;
  padding-right: 15px;
  padding-left: 20px;
  font-size: 16px;
  text-decoration: none;
}

.row-label {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
}

.nav-button {
  display: inline-block;
  width: 100px;
  height: 75px;
  padding-top: 29px;
  float: right;
  border-left: 2px solid #305fa0;
  background-color: #4787df;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.nav-button:hover {
  background-color: #3f7aca;
}

.nav-button:active {
  background-color: #305fa0;
}

.view {
  display: inline-block;
  overflow: scroll;
  width: 85%;
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #e8e8e8;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.link-nav {
  display: inline-block;
  width: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-left: 2px solid #305fa0;
  background-color: #4787df;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.link-nav:hover {
  background-color: #447cc9;
  text-transform: capitalize;
}

.link-nav:active {
  background-color: #3869ac;
}

.main-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.side-barr {
  width: 200px;
  min-width: 200px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #434d57;
}

.main-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.concern-item {
  border-bottom: 2px solid #e5e5e5;
  text-decoration: none;
}

.concern-data {
  display: inline-block;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

.concern-data.expandable {
  overflow: visible;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.concern-data.expandable.truncate {
  overflow: visible;
}

.concern-content {
  width: 100%;
  padding: 25px 15px;
}

.inbox-content {
  overflow: visible;
  height: 50%;
  padding-right: 25px;
  padding-left: 25px;
}

.concern-header {
  padding: 25px 15px;
  border-bottom: 2px solid #e5e5e5;
}

.text-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  padding-right: 25px;
  padding-left: 25px;
  border-bottom: 2px solid #e5e5e5;
  cursor: pointer;
}

.text-item {
  padding: 17px 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 16px;
}

.text-item.expandable {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-item.list-header.expandable.actions-taken {
  border-bottom-style: none;
}

.text-item.list-header.concern-nature {
  border-bottom-style: none;
}

.text-item.list-header.facility {
  border-bottom-style: none;
}

.text-item.list-header.reporter {
  border-bottom-style: none;
}

.text-item.list-header.phone-number {
  width: 175px;
}

.text-item.list-header.email {
  width: 250px;
}

.text-item.list-header.room-name {
  width: 150px;
}

.text-item.reporter {
  position: static;
  width: 150px;
}

.text-item.submission-date {
  width: 200px;
}

.text-item.phone-number {
  width: 175px;
}

.text-item.email {
  width: 250px;
}

.text-item.permissions {
  width: 250px;
  padding-right: 25px;
  padding-left: 25px;
}

.text-item.update-permissions {
  width: 200px;
}

.concern-nature {
  width: 175px;
}

.facility {
  width: 150px;
}

.reporter {
  width: 150px;
}

.actions-taken {
  min-width: 150px;
}

.submission-date {
  width: 175px;
}

.concern-list {
  overflow: scroll;
  height: 100%;
  margin-top: 123px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.scrollable-content {
  overflow: scroll;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.right-button {
  margin-left: 24px;
  float: right;
}

.right-button.paging-button {
  background-color: #4787df;
  font-size: 16px;
}

.access-tab-container {
  display: block;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
}

.access-tab {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f5f5f5;
  color: #797979;
  text-align: center;
}

.access-tab.w--current {
  border-radius: 0px;
  background-color: #fff;
  box-shadow: none;
  color: #4787df;
  text-align: center;
}

.carehome-selector {
  margin-bottom: 45px;
  font-size: 18px;
}

.access-success {
  margin-top: 16px;
  padding: 8px 12px;
  color: #61ac2b;
}

.page-info {
  float: right;
}

.paging-button {
  background-color: #4787df;
  font-size: 16px;
}

.detail-header {
  display: inline-block;
  min-width: 175px;
  font-size: 16px;
}

.detail-item {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
}

.detail-text {
  position: static;
  display: inline-block;
  font-size: 16px;
}

.detail-paragraph {
  margin-top: 10px;
  font-size: 16px;
}

.status-dropdown {
  display: block;
  margin-right: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  float: left;
  background-color: #4787df;
  color: #fff;
  font-size: 16px;
}

.status-dropdown-list.w--open {
  position: absolute;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 #b6b6b6;
}

.concern-detail-row {
  margin-bottom: 250px;
}

.modal-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  height: 100%;
  padding-top: 250px;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
}

.email-verification-wrapper {
  display: block;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 25px 25px;
  background-color: #fff;
}

.modal-button {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

.modal-text {
  padding: 15px;
}

.modal-text.error {
  color: #d52d28;
}

.modal-spacer {
  height: 30px;
}

.splash-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10000000;
  display: block;
  background-color: #4787df;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.splash-content {
  display: block;
  width: 450px;
  margin-top: 175px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Droid Sans', sans-serif;
  font-size: 19px;
  font-weight: 400;
  text-align: center;
}

.splash-tabs-menu {
  display: none;
}

.splash-tabs {
  display: block;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  text-align: center;
}

.splash-button {
  width: 250px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  border: 1px solid #3869ac;
  border-radius: 5px;
  background-color: #4787df;
  color: #fff;
}

.splash-tabs-content {
  padding: 25px;
}

.splash-spacer {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
}

.splash-prompt {
  display: block;
  width: 300px;
  margin: 9px auto;
  padding: 9px 15px;
  color: #000;
  font-weight: 400;
}

.splash-container {
  padding: 25px;
  background-color: #fff;
  color: #5a5a5a;
}

.error-message {
  display: none;
  padding: 9px 15px;
  color: #d52d28;
}

.splash-content-pane {
  box-shadow: 0 0 6px 0 #383e44;
}

.inbox-header {
  position: fixed;
  left: 200px;
  top: 80px;
  right: 0px;
  z-index: 10;
  display: none;
  margin-right: 25px;
  padding-left: 25px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #fff;
}

.modal-error {
  display: block;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
  background-color: #fff;
}

.modal-container {
  display: block;
  width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
  background-color: #fff;
  box-shadow: 1px 0 6px 0 #5a5a5a;
  font-size: 16px;
}

.icon-button {
  min-width: 50px;
  margin: 6px;
  float: right;
  background-color: #4787df;
  font-family: Fontawesome, sans-serif;
  font-size: 20px;
  text-align: center;
}

.flex-header {
  margin-right: 25px;
  padding: 10px 25px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.list {
  overflow: scroll;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dropdown {
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4787df;
  font-family: Fontawesome, sans-serif;
  color: #fff;
  font-size: 16px;
}

.list-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-bottom: 2px solid #aaa;
  font-size: 16px;
  font-weight: 700;
}

.permissions-dropdown {
  width: 200px;
}

.list-footer {
  height: 25px;
  margin-right: 25px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-top: 2px solid #aaa;
}

.paging-text {
  padding: 15px;
  float: right;
  font-size: 16px;
}

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-left: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.button {
  min-width: 100px;
  margin: 6px;
  background-color: #4787df;
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.woff2') format('undefined'), url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}