<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>FACILITY_OTHER_TITLE</string>
	<key>other_prompt</key>
	<string>FACILITY_OTHER_PROMPT</string>
	<key>items</key>
	<array>
		<dict>
			<key>title</key>
			<string>FACILITY_1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>FACILITY_2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>FACILITY_3</string>
		</dict>
		<dict>
			<key>title</key>
			<string>FACILITY_4</string>
		</dict>
		<dict>
			<key>title</key>
			<string>FACILITY_5</string>
		</dict>
	</array>
</dict>
</plist>
