<div class="main-content" ng-controller="AccountsCtrl">
  <div class="flex-header w-clearfix">
    <div class="w-dropdown" data-delay="0">
      <div class="dropdown w-dropdown-toggle">
        <div>Account Type</div>
        <div class="w-icon-dropdown-toggle"></div>
      </div>
      <nav class="status-dropdown-list w-dropdown-list"><a class="w-dropdown-link" href="#" ng-click="filterType(&#39;UNVERIFIED&#39;)">Unverified</a><a class="w-dropdown-link" href="#" ng-click="filterType(&#39;ADMIN&#39;)">Admin</a><a class="w-dropdown-link" href="#" ng-click="filterType(&#39;DENIED&#39;)">Denied</a>
      </nav>
    </div><a class="icon-button w-button" href="#" ng-click="refreshAccounts()"></a><a class="icon-button w-button" href="#" ng-click="nextPage()"></a><a class="icon-button w-button" href="#" ng-click="previousPage()"></a>
    <div class="paging-text">{{accounts.pageStartIndex}} - {{accounts.pageEndIndex}} of {{accounts.totalItemsCount}}</div>
  </div>
  <div class="list-header">
    <div class="expandable text-item"><strong>Account Email</strong>
    </div>
    <div class="permissions text-item"><strong>Permissions</strong>
    </div>
    <div class="text-item update-permissions"></div>
  </div>
  <ul class="list w-list-unstyled">
    <li class="text-row" ng-init="$last &amp;&amp; accountsDidLoad()" ng-repeat="account in accounts.items">
      <div class="expandable text-item">{{account.email}}</div>
      <div class="permissions text-item">{{account.permissions}}</div>
      <div class="permissions-dropdown w-dropdown" data-delay="0">
        <div class="dropdown w-dropdown-toggle">
          <div>Update Permissions</div>
          <div class="w-icon-dropdown-toggle"></div>
        </div>
        <nav class="status-dropdown-list w-dropdown-list"><a class="w-dropdown-link" href="#" ng-click="updatePermissions(account, &#39;UNVERIFIED&#39;)">Unverified</a><a class="w-dropdown-link" href="#" ng-click="updatePermissions(account, &#39;ADMIN&#39;)">Admin</a><a class="w-dropdown-link" href="#" ng-click="updatePermissions(account, &#39;DENIED&#39;)">Denied</a>
        </nav>
      </div>
    </li>
  </ul>
  <div class="list-footer"></div>
</div>
  